<phpunit bootstrap="./vendor/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="suitcase">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="tests/reports"/>
        <log type="coverage-clover" target="tests/reports/coverage.xml" showUncoveredFiles="true"/>
        <log type="junit" target="tests/reports/report.xml"/>
    </logging>
</phpunit>
